<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>About</title>
</head>
<body>
  <header>
    <div class="header">
      <h1>Wolfgang Amadeus Mozart
      </h1>
      <a href="http://localhost:3000/home">
        <button class="home"> Home</button>
      </a>
      <a href="http://localhost:3000/about">
        <button class="about"> About</button>
      </a>
      <a href="http://localhost:3000/works">
        <button class="works">Works</button>
      </a>
    </div>
  </header>

  <div>
    <p>Wolfgang Amadeus Mozart[a][b] (27 January 1756 – 5 December 1791) was a prolific and influential composer of the Classical period. Despite his short life, his rapid pace of composition resulted in more than 800 works of virtually every genre of his time.</p>
    <p>By the age of 5 he could read and write music, and he would entertain people with his talents on the keyboard. By the age of 6 he was writing his first compositions. Mozart was generally considered to be a rare musical genius, though Mozart said that he was diligent in studying other great composers such as Haydn and Bach.
    </p>
  </div>
</body>
</html>